@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500&display=swap');
:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#58555e;
    --bg-color:#2c2c2c;
    --header-height:56px;
    --width-slider-bar: 240px;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    padding: 16px 16px 0;
    margin: 50px 0 0 0;
    color: var(--text-color);
    background-color: #121212;
}
    /* ______header__________ */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: 0 1px o rgba(22, 0, 0, 0.5);
    /* z-index: 1000; */
}
.header .header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}
.header .search {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #121212;
    border-radius: 4px;
    color: #fff;
}
.header input{
    border: none;
    outline: none;
    background-color: #121212;
    padding: 4px 10px;
    color: #fff;
    border-radius: 6px;
}
.header input::placeholder{
    color: var(--text-color);
}

.header .user{
    display: flex;
    align-items: center;
}
.header .user img{
    width: 35px;
    height: 35px;
    object-fit: contain;
    border-radius: 50%;
}
.header .user i{
    margin-right: 40px;
    
}
.header i,
.header .toogle{
    color: var(--white-color);
    font-size: 2.0rem;
    cursor: pointer;
}
.navbar {
    position: fixed;
    top: 0;
    /* left: -100%; */
   
    height: 100vh;
    padding: 16px 16px 0;
    background: #1c1c1c;
    box-shadow: 1px 0 0 rgba(22,8,43,0.5);
    z-index: 100;
    transition: 0.5s;
}
.navbar__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 48px;
    overflow: auto;
    scrollbar-width: none;
}
.navbar__container::-webkit-scrollbar{
    display: none;
}
.navbar__logo{
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 0;
    margin-top: 0;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--white-color);
}
.navbar__logo i{
    font-size: 2.0rem;
    margin-right: 20px;
}
.navbar__logo-name{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: var(--white-color);
}
.navbar__logo-name i{
    font-size: 2.6rem;
    margin-right: 10px;
    color: red;
}
/* .nav__list , .nav__item-link{
   display: grid;
}
.nav__list{
    row-gap: 40px;
}
.nav__item{
    row-gap: 24px;
} */
.nav__item-link{
    display: flex;
    align-items: center;
    color: var(--white-color);
    margin-bottom: 20px;
}
.nav__item-link:hover{
    color: rgba(255, 0, 0, 0.658);
}
.nav__icon{
    font-size: 1.7rem;
    width: 40px;
}
.navbar__name{
font-size: 1.3rem;
font-weight: 300;   
white-space: nowrap; 
}
